.grid-content {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 50px 30px; }

.film-image img {
  width: 100%; }
  .film-image img:hover {
    border: 1px solid #fff;
    opacity: 0.85; }

.film-title {
  color: #fff; }
  .film-title h5 {
    margin: 0;
    padding: 5px 0px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize; }
  .film-title:hover {
    text-decoration: none;
    color: #f79f1c; }

.film-description {
  color: #d3d1d1;
  text-align: center;
  margin: 0; }
  .film-description b {
    color: #F7E61C;
    margin-right: 15px; }

@media screen and (max-width: 575px) {
  .grid-content {
    grid-template-columns: repeat(2, minmax(130px, 1fr)); } }
